{% include "laps/header.html" %}

{% load widget_tweaks %}

{% if form.errors %}
	<p class="text-danger">Your username/password didn't match. Please try again.</p>
{% endif %}
<div class="row">
	<div class="col-md-4">
		<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
		{% csrf_token %}

		  <div class="form-group">
		    <label for="id_username">Username</label>
		    {% render_field form.username class+="form-control" %}
		  </div>

		  <div class="form-group">
		    <label for="id_password">Password</label>
		    {% render_field form.password class+="form-control" %}
		  </div>

		<button type="submit" class="btn btn-default" value="login">Login</button>
		<input type="hidden" name="next" value="{{ next }}" />
		</form>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<p/>
		<p class="text-info"><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
	</div>
</div>

{% include "laps/footer.html" %}