{% include "laps/header.html" %}

{% load widget_tweaks %}

{% if form.errors %}
	<div class="alert alert-danger" role="alert">
		Passwords didn't match. Please try again.
	</div>
{% endif %}
<div class="row">
	<div class="cod-md-12">
		<p>Please enter your new password.</p>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<form method="post" action="" class="form-horizontal">
			{% csrf_token %}
			<div class="form-group">
				<!--label for="id_new_password1">New password</label-->
				{% render_field form.new_password1 class+="form-control" placeholder="new password" %}
			</div>
			<div class="form-group">
		    	<!--label for="id_new_password2">Confirm password</label-->
				{% render_field form.new_password2 class+="form-control" placeholder="confirm password" %}
			</div>
		  	<div class="form-group">
				<button type="submit" class="btn btn-default" value="login">Change my password</button>
			</div>
		</form>
	</div>
</div>

{% include "laps/footer.html" %}