{% include "laps/header.html" %}

<h1>
	<span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
	{{ race.name }} <small>{{ race.date_time }}</small>
</h1>

<h2>Edit Laps</h2>
<form class="form-horizontal" action="{% url 'laps:edit_race_laps' user.username race.id %}?num_laps={{ form.num_laps }}" method="post">
	<div class="row">
		<div class="col-sm-4">
			<p class="text-info pull-right">
				Enter lap times like <em>2:45:043</em>
			</p>
		</div>
		{% if race.is_team %}
			<div class="col-sm-8">
				<p class="text-info">
					Rider change? Enter name or select user
				</p>
			</div>
		{% else %}
			<div class="col-sm-8">
			</div>
		{% endif %}
	</div>
	{% csrf_token %}
	{% for field in form %}
		{% include "laps/edit_laps_form_field.html" %}
	{% endfor %}
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default">Save</button>
		</div>
	</div>
</form>

{% include "laps/footer.html" %}