<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>after the race</title>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" style="padding:5px; padding-left:15px">
        <img alt="Brand" src="https://s3-us-west-2.amazonaws.com/aftertherace.joeymink.com/logo/aftertherace_bw_50.png">
      </a>
      <p class="navbar-text">[ {{ racer }} ]</p>
      {% if racer %}
        <p class="navbar-text"><a href="{% url 'laps:machines' racer %}">Machines</a></p>
        <p class="navbar-text"><a href="{% url 'laps:tracks' racer %}">Tracks</a></p>
        <p class="navbar-text"><a href="{% url 'laps:races' racer %}">Races</a></p>
      {% endif %}
    </div>
  </div>
</nav>
    <div class="container">