{% load ganalytics %}
<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>after the race</title>
    {% ganalytics %}
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/static.atr.tools/css/sticky_footer_navbar.css">
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {% include "laps/nav.html" %}
    <div class="container">