<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>after the race</title>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" style="padding:5px; padding-left:15px">
        <img alt="Brand" src="https://s3-us-west-2.amazonaws.com/aftertherace.joeymink.com/logo/aftertherace_bw_50.png">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!--p class="navbar-text">[ {{ racer }} ]</p-->
      {% if racer %}
        <p class="navbar-text">{{ racer }}:</p>
      {% endif %}
      <ul class="nav navbar-nav">
      {% if racer %}
        <li><a href="{% url 'laps:machines' racer %}">Machines</a></li>
        <li><a href="{% url 'laps:tracks' racer %}">Tracks</a></li>
        <li><a href="{% url 'laps:races' racer %}">Races</a></li>
      {% endif %}
      </ul>
      {% if user.is_authenticated %}
        <p class="navbar-text navbar-right"><a href="{% url 'atr_logout' %}" class="navbar-link">[ logout ]</a></p>
      {% else %}
        <p class="navbar-text navbar-right"><a href="{% url 'login' %}" class="navbar-link">[ login ]</a></p>
      {% endif %}
    </div>
  </div>
</nav>
    <div class="container">