{% include "laps/header.html" %}

<div class="jumbotron">
	<h2>Welcome to <em>After the Race</em>!</h2>
	<p>As a novice motorcycle racer I always ask myself, <em>am I getting faster?</em> This tool is helping me answer that question.</p>

	<p>This minimum viable product currently serves as a read-only view of my personal race data. Please click around to see if this is something you'd find useful. Before I go further and attempt to support account creation and multiple users, I'd like to get an idea of what interest there might be.</p>

	<p>If you dig this, if you'd like to use it, or if you have any comments at all, please reach out!</p>

	<p>
		- Joey Mink
		<small>
			(reach me on <a href="http://twitter.com/joeymink">Twitter</a>,
			<a href="https://www.bikeminds.com/riders/joeymink">BikeMinds</a>)
		</small>
	</p>
</div>

{% include "laps/footer.html" %}