{% include "laps/header.html" %}

<div class="jumbotron">
	<h2>Liberate your lap times</h2>

	<p>
		Sign up (soon), login, and enter your lap times. Then exploit your race data and evaluate your progress with atr.tools. Checkout <a href="{% url 'laps:racer' 'joeymink' %}">my racer page</a> to see what I mean!
	</p>
		- Joey Mink
		<small>
			(reach me on <a href="http://twitter.com/joeymink">Twitter</a>,
			<a href="https://www.bikeminds.com/riders/joeymink">BikeMinds</a>)
		</small>
	</p>
</div>

{% include "laps/footer.html" %}