{% include "laps/header.html" %}

<h1>
	Machines
	{% ifequal user.username racer %}
		<small><a href="{% url 'laps:create_machine' racer %}">[ Add ]</a></small>
	{% endifequal %}
</h1>

{% if machines %}
	<ul class="list-group">
	{% for machine in machines %}
			<!-- span class="badge">races {{ machine.races.count }}</span -->
			<a href="{% url 'laps:machine' racer machine.id %}" class="list-group-item">
					<strong>{{ machine.name }}</strong>
					<span class="text-muted">
						<small>
							&nbsp;&nbsp;{{ machine.model }}
						</small>
					</span>
			</a>
	{% endfor %}
	</ul>
{% else %}
    <p>No machines have been created yet.</p>
{% endif %}

{% include "laps/footer.html" %}