<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript">
	// TODO: put this function in one place and re-use
	function pad (str, max) {
	  str = str.toString();
	  return str.length < max ? pad("0" + str, max) : str;
	}

	$(function () {
		$.getJSON('{% url "laps:chart_tracks" racer machine.id %}', function( data ) {
			var num_races = [];
			for (i = 0; i < data.length; i++)
				num_races.push(data[i].num_races);
				
		    $('#container').highcharts({
		        chart: {
		            type: 'bar'
		        },
		        title: {
		        	text: ''
		        },
		        xAxis: {
		        	labels: {
		        		formatter: function() {
		        			return this.value.track.name;
		        		}
		        	},
		            categories: data
		        },
		        tooltip: {
	        		useHTML: true,
		            formatter: function () {
		            	// TODO: how to incorporate django named urls here?
		                return '<a href="{% url 'laps:tracks' racer %}' + this.x.track.id + '">'
		                	+ this.x.track.name + '</a>: <b>' + this.y + '</b>';
		            }
		        },
		        series: [{
		        	name: 'Number of Races',
		            data: num_races
		        }]
    		});
		});
	});
</script>