{% include "laps/header.html" %}

{% load lap_extras %}

<ol class="breadcrumb">
  <li><a href="#">home</a></li>
  <li><a href="{% url 'laps:machines' %}">machines</a></li>
  <li class="active">{{ machine.name }}</li>
</ol>

<h1>{{ machine.name }}</h1>
<div class="row">
	<div class="col-md-4">
		<table class="table">
			<tr>
				<th>Year</th>
				<td>{{ machine.year }}</td>
			</tr>
			<tr>
				<th>Make</th>
				<td>{{ machine.make }}</td>
			</tr>
			<tr>
				<th>Make</th>
				<td>{{ machine.model }}</td>
			</tr>
		</table>
	</div>
	<div class="col-md-8">
		<p><em>Lap data spans {{ machine.first_race.date }} - {{ machine.last_race.date }} ...</em></p>
		<p><em>{{ machine.tracks.count }} tracks ...</em></p>
		<p><em>{{ machine.races.count }} <a href="{% url 'laps:races' %}">races ...</a></em></p>
		<p><em>{{ machine.num_laps }} laps ...</em></p>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">Events</div>
	<table class="table">
		{% for org, events in machine.events_by_organization.items %}
			<tr>
				<th>{{ org }}</th>
				<td>{{ events |join:", " }}</td>
			</tr>
		{% endfor %}
	</table>
</div>

<div class="panel panel-default">
	<div class="panel-heading">Configurations</div>
	<table class="table">
		<tr>
			{% for key in machine.unique_configuration_keys %}
				<th>{{ key.key }}</th>
			{% endfor %}
		</tr>
		{% for config in machine.unique_configurations %}
			<tr>
			{% for key in machine.unique_configuration_keys %}
				{% for attr in config %}
					{% if attr.key == key.key %}
						<td>{{ attr.value }}</td>
					{% endif %}
				{% endfor %}
			{% endfor %}
			</tr>
		{% endfor %}
	</table>
