{% include "laps/header.html" %}

{% load lap_extras %}

<h1>{{ machine.name }} <small>{{ machine.year }} {{ machine.make }} {{ machine.model }}</small></h1>
<dl class="dl-horizontal">
	<dt>Lap data from</dt>
	<dd>{{ machine.first_race.date_time.date }} - {{ machine.last_race.date_time.date }}</dd>
	{% for org, events in machine.events_by_organization.items %}
		<dt>Events run with {{ org }}</dt>
		<dd>{{ events |join:", " }}</dd>
	{% endfor %}
	<dt>Tracks raced</dt>
	<dd>{{ machine.tracks.count }}<dd>
	<dt>Races run</dt>
	<dd>{{ machine.races.count }}</dd>
	<dt>Total laps</dt>
	<dd>{{ machine.num_laps }}</dd>
</dl>

<div class="panel panel-default">
	<div class="panel-heading"><span class="glyphicon glyphicon-road" aria-hidden="true"></span> Tracks Raced</div>
	{% include "laps/machine_chart_tracks.html" %}
	<div id="container" style="width:100%; height:300px;"></div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
		Configurations used
	</div>
	<table class="table">
		<tr>
			{% for key in machine.unique_configuration_keys %}
				<th>{{ key.key }}</th>
			{% endfor %}
		</tr>
		{% for config in machine.unique_configurations %}
			<tr>
			{% for key in machine.unique_configuration_keys %}
				{% for attr in config %}
					{% if attr.key == key.key %}
						<td>{{ attr.value }}</td>
					{% endif %}
				{% endfor %}
			{% endfor %}
			</tr>
		{% endfor %}
	</table>
</div>

<div class="panel panel-default">
	<div class="panel-heading"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Races run</div>
	<div class="panel-body">
		{% include "laps/races_by_year.html" %}
	</div>
</div>

{% include "laps/footer.html" %}
