{% include "laps/header.html" %}

{% load lap_extras %}

<h1>{{ racer }}</h1>

<dl class="dl-horizontal">
	<dt>Lap data from</dt>
	{% if auguser.first_race %}
		<dd>{{ auguser.first_race.date_time.date }} - {{ auguser.last_race.date_time.date }}</dd>
	{% else %}
		<dd>no races yet</dd>
	{% endif %}
	{% for org, events in machine.events_by_organization.items %}
		<dt>Events run with {{ org }}</dt>
		<dd>{{ events |join:", " }}</dd>
	{% endfor %}
	<dt>Tracks raced</dt>
	<dd>{{ auguser.tracks.count }}<dd>
	<dt>Races run</dt>
	<dd>{{ auguser.races.count }}</dd>
	<dt>Total laps</dt>
	<dd>{{ auguser.num_laps }}</dd>
</dl>
<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			Fastest Laps
		</div>
		<table class="table">
		{% for race in auguser.fastest_races %}
			<tr>
				<td>
					<strong>
							{{ race.track.name }}
					</strong>
				</td>
				<td>
					<a href="{% url 'laps:race' racer race.id %}">
						{{ race.best_lap_time|format_lap_time }}
					</a>
					<span class="text-muted"> - {{ race.machine_config.machine.model }}</span>
				</td>
			</tr>
		{% endfor %}
		</table>
	</div>
</div>
{% include "laps/footer.html" %}