<table class="table-condensed">
{% for year in years %}
	<tr>
		<td colspan="3"><h3><span class="label label-default">{{ year }}</span></h3></td>
	</tr>
	{% for date in dates %}
		{% if date.year == year %}
			<tr>
				<td><strong>{{ date|date:"M d" }}</strong></td>
				<td/>
				<td/>
			</tr>
			{% for race in races %}
				<tr>
					{% if race.date_time.date == date %}
						<td/>
						<td>
							<span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
							<a href="{% url 'laps:race' racer race.id %}">
						 		{{ race.name }}
						 		{% if race.organization %}
						 			with {{ race.organization }}
						 		{% endif %}
							</a>
						</td>
						<td>
							<span class="glyphicon glyphicon-road" aria-hidden="true"></span>
							{% if race.track %}
								<a href="{% url 'laps:track' racer race.track.id %}">
									{{ race.track.name }}
								</a>
							{% else %}
								<span class="text-muted"><em>No track entered</em></span>
							{% endif %}
						</td>
					{% endif %}
				</tr>
			{% endfor %}
		{% endif %}
	{% endfor %}
{% endfor %}
</table>