{% include "laps/header.html" %}

{% load lap_extras %}

<h1>{{ racer }}</h1>

<dl class="dl-horizontal">
	<dt>Lap data from</dt>
	{% if auguser.first_race %}
		<dd>{{ auguser.first_race.date_time.date }} - {{ auguser.last_race.date_time.date }}</dd>
	{% else %}
		<dd>no races yet</dd>
	{% endif %}
	{% for org, events in machine.events_by_organization.items %}
		<dt>Events run with {{ org }}</dt>
		<dd>{{ events |join:", " }}</dd>
	{% endfor %}
	<dt>Tracks raced</dt>
	<dd>{{ auguser.tracks.count }}<dd>
	<dt>Races run</dt>
	<dd>{{ auguser.races.count }}</dd>
	<dt>Total laps</dt>
	<dd>{{ auguser.num_laps }}</dd>
</dl>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				Fastest Laps
			</div>
			<table class="table">
			{% for race in auguser.fastest_races %}
				<tr>
					<td>
						<strong>
							<span class="glyphicon glyphicon-road" aria-hidden="true"></span>
							{{ race.track.name }}
						</strong>
					</td>
					<td>
						<a href="{% url 'laps:race' racer race.id %}">
							{{ race.best_lap_time|format_lap_time }}
						</a>
						<span class="text-muted">
							<small>
								{{ race.machine_config.machine.model }}
							</small>
						</span>
					</td>
				</tr>
			{% endfor %}
			</table>
		</div>
	</div>
	<div class="col-md-6">
		{% with auguser.last_race as race %}
		<p class="lead">
			<span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Last race
		</p>
		<blockquote>
			<p>{{ race.date_time.date }},
				<a href="{% url 'laps:race' racer race.id %}">
					{{ race.name }}
				</a>
			</p>
			<footer>
				<span class="glyphicon glyphicon-road" aria-hidden="true"></span>
				<a href="{% url 'laps:track' racer race.track.id %}">{{ race.track.name }}</a>
				{% if race.organization %}
					with {{ race.organization }}
				{% endif %}
			</footer>
		</blockquote>
		{% endwith %}
	</div>
</div>
{% include "laps/footer.html" %}