{% include "laps/header.html" %}

<h1>
	<span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
	{{ race.name }}
	{% if race.organization %}
		with {{ race.organization }}
	{% endif %}
	{% ifequal user.username racer %}
		<small><a href="{% url 'laps:edit_race' racer race.id %}">[ Edit ]</a></small>
	{% endifequal %}
</h1>
<div class="row">
	<div class="col-md-3 col-md-offset-1">
		<h3>{{ race.date_time.date }}</h3>
	</div>
	<div class="col-md-4">
		<h3>
			<span class="glyphicon glyphicon-road" aria-hidden="true"></span>
			{% if race.track %}
				<a href="{% url 'laps:track' racer race.track.id %}">{{ race.track.name }}</a>
			{% else %}
				<span class="text-muted"><em>No track entered</em></span>
			{% endif %}
		</h3>
	</div>
	<div class="col-md-4">
		<h3>
			{% if race.machine_config %}
				<a href="{% url 'laps:machine' racer race.machine_config.machine.id %}">{{ race.machine_config.machine.name }}</a>
			{% else %}
				<span class="text-muted"><em>No machine entered</em></span>
			{% endif %}
		</h3>
	</div>
</div>
{% if race.conditions %}
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<p class="text-warning">Conditions: {{ race.conditions }}</p>
		</div>
	</div>
{% endif %}

<div class="panel panel-default">
	<div class="panel-heading">Lap Plot</div>
	{% if race.get_laps|length > 0 %}
		{% if race.is_team %}
			{% include "laps/race_team_chart_laps.html" %}
		{% else %}
			{% include "laps/race_chart_laps.html" %}
		{% endif %}
		<div id="container" style="width:100%; height:300px;"></div>
	{% else %}
		<p class="text-muted text-center">No laps entered</p>
	{% endif %}
</div>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">Laps</div>
			{% if race.get_laps|length > 0 %}
				{% include "laps/race-lapstab.html" %}
			{% else %}
				<p class="text-muted text-center">No laps entered</p>
			{% endif %}
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
				Configuration
			</div>
			<table class="table">
			{% for attr in race.machine_config.attributes.values %}
				<tr>
					<td><strong>{{ attr.key }}</strong></td>
					<td>{{ attr.value }}</td>
				</tr>
			{% endfor %}
			{% if add_config_attr_form %}
				<tr>
					<form action="{% url 'laps:add_config_attr_to_race' racer race.id %}" method="post">
						{% csrf_token %}
						<td>{{add_config_attr_form.key}}</td>
						<td>{{add_config_attr_form.value}} <input type="submit" value="Add" /></td>
					</form>
				</tr>
			{% endif %}
			</table>
		</div>
	</div>
</div>

{% include "laps/footer.html" %}