{% include "laps/header.html" %}

<ol class="breadcrumb">
  <li><a href="#">home</a></li>
  <li><a href="#">joeymink</a></li>
  <li class="active">races</li>
</ol>

<h1>Races <small>joeymink</small></h1> <!-- TODO: -->

{% if races %}
    {% for year in years %}
    	<h2><span class="label label-default">{{ year }}</span></h2>
		<div class="row">
			{% for date in dates %}
				{% if date.year == year %}
					<div class="col-md-11 col-md-offset-1"><strong>{{ date|date:"M d" }}</strong></div>
					{% for race in races %}
						{% if race.date == date %}
							<div class="col-md-10 col-md-offset-2">
								<a href="{% url 'laps:race' race.id %}">
							 		{{ race.name }} with {{ race.organization }}
								</a>
								[ {{ race.track.name }} ]
							</div>
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endfor %}
        </div>
    {% endfor %}
{% else %}
    <p>No races are available.</p>
{% endif %}

{% include "laps/footer.html" %}