{% include "laps/header.html" %}

<ol class="breadcrumb">
  <li><a href="#">home</a></li>
  <li><a href="#">joeymink</a></li>
  <li class="active">races</li>
</ol>

<h1>Races <small>todo:racer</small></h1>

{% if races_by_date %}
    {% for year, race_dates in races_by_date.items %}
    	<h2><span class="label label-default">{{ year }}</span></h2>
		<div class="row">
			{% for race_date, races in race_dates.items %}
				<div class="col-md-11 col-md-offset-1"><strong>{{ race_date|date:"M d" }}</strong></div>
				{% for race in races %}
					<div class="col-md-10 col-md-offset-2">
						<a href="{% url 'laps:race' race.id %}">
							 {{ race.name }} with {{ race.organization }}
						</a>
						[ {{ race.track.name }} ]
					</div>
				{% endfor %}
			{% endfor %}
        </div>
    {% endfor %}
{% else %}
    <p>No races are available.</p>
{% endif %}

{% include "laps/footer.html" %}