{% include "laps/header.html" %}

{% load lap_extras %}

<ol class="breadcrumb">
  <li><a href="#">home</a></li>
  <li><a href="{% url 'laps:tracks' %}">tracks</a></li>
  <li class="active">{{ track.name }}</li>
</ol>

<h1><span class="glyphicon glyphicon-road" aria-hidden="true"></span> {{ track.name }}</h1>

<dl class="dl-horizontal">
	<dt>Machines run here</dt>
	<dd>
		{% for machine in track.machines %}
			<a href="{% url 'laps:machine' machine.id %}">{{ machine.name }}</a>
		{% endfor %}
	</dd>
	<dt>Total races</dt>
	<dd>{{ track.races.count }}</dd>
	<dt>Total laps</dt>
	<dd>{{ track.laps.count }}</dd>
</dl>

<div class="panel panel-default">
	<div class="panel-heading">Lap performance</div>
	<div class="panel-body">
{% include "laps/track_chart_best_avg.html" %}
<div id="container" style="width:100%; height:400px;"></div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Races run</div>
	<div class="panel-body">
		{% include "laps/races_by_year.html" %}
	</div>
</div>

{% include "laps/footer.html" %}