<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript">
	function pad (str, max) {
	  str = str.toString();
	  return str.length < max ? pad("0" + str, max) : str;
	}

	$(function () {
		$.getJSON('{% url "laps:chart_best_avg" racer track.id %}', function( data ) {
		var best = []
		for (i = 0; i < data.best.length; i++)
			best.push(parseFloat(data.best[i]))
		var avg = []
		for (i = 0; i < data.avg.length; i++)
			avg.push(parseFloat(data.avg[i]))
	    $('#container').highcharts({
	        chart: {
	            type: 'line'
	        },
	        title: {
	            text: 'Lap Trend @ {{ track.name }}'
	        },
	        xAxis: {
	        	title: {
	        		text: 'Race Date'
	        	},
	        	labels: {
	        		formatter: function() {
						var d = new Date();
            			d.setTime(Date.parse(this.value.date));
						var dateStr = (d.getMonth() + 1).toString() + "/" + d.getDate().toString() + "/" + d.getFullYear().toString()
	        			return dateStr;
	        		}
	        	},
	            categories: data.race
	        },
	        yAxis: {
	            title: {
	                text: 'Lap Time'
	            },
	            labels: {
	            	formatter: function() {
	            		var min = parseInt(this.value / 60, 10);
	            		var sec = parseInt(this.value % 60, 10);
	            		var milli = parseInt((this.value % 1) * 1000, 10);
	            		return min.toString() + ":" + pad(sec.toString(), 2) + ":" + milli.toString();
	            	}
	            }
	        },
	        series: [{
	            name: 'Best',
	            data: best
	        }, {
	            name: 'Average',
	            data: avg
	        }],
	        tooltip: {
	        	useHTML: true,
	        	formatter: function() {
	        		// TODO: share min:sec:milli conversion code with yAxis.labels.formatter
					var min = parseInt(this.y / 60, 10);
            		var sec = parseInt(this.y % 60, 10);
            		var milli = parseInt((this.y % 1) * 1000, 10);
            		var laptime = min.toString() + ":" + pad(sec.toString(), 2) + ":" + pad(milli.toString(), 3);
            		// TODO: use Django URLs somehow below?
            		return laptime + " (<a href=\"{% url 'laps:races' racer %}" + this.x.id + "\">" + this.x.name + "</a>)";
	        	}
	        }
	    });
	});
	});
</script>